
/game/bin/*
/game_old/bin/*
/compiled_schemas/*
/flatbuffers/build/*
/__pycache__/*
/blend_src/
/ci-artifacts/
/renderer-input/
/renderer-game/
/renderer-output/

.DS_Store

# Blender backup files
*.blend1

# PyCache files
__pycache__/
*.pyc
*.pyo
*.pyd
